<h1>All Reservations</h1>
<% @reservations.each do |reservation| %>
<h2><%= reservation.room.home_type  %> hosted by: <%= reservation.room.user.name %></h2>
<a href=<%="/rooms/#{reservation.room.id}"%>>View Room</a>
  <p>Start date: <%= reservation.start_date %></p>
  <p>End date: <%= reservation.end_date %></p>
  <p>Price per night: <%= reservation.price %></p>
  <p>Total: <%= reservation.total %></p>
  <p>Reservation created: <%= reservation.created_at %></p>

  <%= link_to "Leave A Review", new_review_path(reservation_id: reservation.id, room_id: reservation.room_id) %>

<% end %>
