<h1>All Rooms</h1>
<% @rooms.each do |room| %>
  <h2><%= room.home_type  %> hosted by: <%= room.user.name %></h2>
  <p>Address: <%= room.address %></p>
  <p>City: <%= room.city %></p>
  <p>State: <%= room.state %></p>
  <p>Price: <%= room.price %></p>
  <p>Description: <%= room.description %></p>
  <p>Home Type: <%= room.home_type %></p>
  <p>Room Type: <%= room.room_type %></p>
  <p>Total Occupancy: <%= room.total_occupancy %></p>
  <p>Total Bedrooms: <%= room.total_bedrooms %></p>
  <p>Total Bathrooms: <%= room.total_bathrooms %></p>
  <img src="<%= image_path(room.room_images.first.url) %>" alt="image" > 
  <%= link_to "More Info", room %>
<% end %>
