<div class="container">
<h1>Room Info</h1>
<div class="card shadow" style="width: 18rem;">
  <% if @room.room_images.first %>
  <img src="<%= image_path(@room.room_images.first.url) %>" alt="image" > 
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= @room.home_type  %> hosted by: <%= @room.user.name %></h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Description: <%= @room.description %></li>
    <li class="list-group-item">
    <p class="card-text"><p>Address: <%= @room.address %>, <%= @room.city %>, <%= @room.state %></p></p></li>
    <li class="list-group-item"><p>Price: <%= @room.price %></p></li>
    <li class="list-group-item"><p>Total Occupancy: <%= @room.total_occupancy %></p></li>
    <li class="list-group-item"><p>Total Bedrooms: <%= @room.total_bedrooms %></p></li>
    <li class="list-group-item"><p>Total Bathrooms: <%= @room.total_bathrooms %></p></li>
    <li class="list-group-item"><p>Room Type: <%= @room.room_type %></p></li>
    <li class="list-group-item"><p>Home Type: <%= @room.home_type %></p></li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link"><a href="/rooms">Back to all rooms</a></a>
    <br>
    <% if current_user.id == @room.user_id %>
<%= link_to "Edit room", edit_room_path(@room) %>
<%= link_to "Delete room", room_path(@room), data: {turbo_method: :delete} %>
<% end %>
</div>
</div>






<div class="card shadow"
style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Book New Reservation</h5>
    <p class="card-text"><form method="post" action="/reservations">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="price" value="<%= @room.price %>">
  <input type="hidden" name="room_id" value="<%= @room.id %>">
  <div>
    <label>start_date </label>
    <input type="date" name="reservation[start_date]">
  </div>
  <div>
    <label>end_date </label>
    <input type="date" name="reservation[end_date]">
  </div>
  <div>
    $<%= @room.price %> per night
  </div>
  <div>
    <input type="submit" value="Create Reservation">
  </div>
  </div>
</div>
</form></p>
    
    

<h1>Room Reviews</h1>
<% @room.reservations.each do |reservation| %>
<% if reservation.review %>
  <h3><%=  reservation.user.name %></h3>
  <p>rating: <%= reservation.review.rating %></p> 
  <p>comment: <%= reservation.review.comment %></p>
<% end %>
<% end %>


